*{
    box-sizing: border-box;
    color: white;
    margin: 0;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

header{
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 50px;
}

.main_form_box{
    height: 300px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

input{
    background-color: white;
    margin: 20px 0;
    padding: 5px 30px;
    border: 2px solid aqua
}

.main_form_submit{
    background-color: aqua;
    font-size: 20px;
    font-weight: 600;
    border-radius: 25px;
    padding: 5px 30px;
}

.input_comments{
    padding: 20px 30px; 
}

ul{
    width: 300px;
    height: 250px;
    margin: 0 auto;
    margin-top: 80px;
    border: 2px solid aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    padding: 5px;
    font-size: 18px;
    list-style: none;
    text-align: center;
}

.button_edit{
    background-color: aqua;
    margin: 20px;
    border-radius: 25px;
    padding: 3px 20px;
    font-size: 15px;
}

.button_delete{
    background-color: white;
    color: aqua;
    border-radius: 25px;
    padding: 3px 20px;
    font-size: 15px;
}
