*{
    max-width: 1300px;
    min-width:320px;
    box-sizing: border-box;
    color: white;
    margin: 0;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    width: 350px;
    height: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 60px;
    text-align: center;
}

main{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    background-color: white;
    color: black;
    width: 100%;
    margin: 25px auto;
    padding: 10px 100px;
    border: 2px solid aqua
}

.main_button_submit{
    background-color: aqua;
    margin-top: 40px;
    font-size: 23px;
    font-weight: 600;
    border-radius: 25px;
    padding: 5px 30px;
}

.input_comments{
    padding: 40px 30px; 
}


.list{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:10px auto; 
    display: flex;
    height: 200px;
}

p{
    margin: 5px;
    text-align: center;
    font-size: 25px;
}

.button_edit{
    min-width: 120px;
    background-color: white;
    color: #000;
    margin: 25px;
    padding: 10px;
    border-radius: 25px;
    font-size: large;
    font-weight: 600;
}

.button_delete{
    min-width: 120px;
    background-color: aqua;
    color: black;
    padding: 10px;
    border-radius: 25px;
    font-size: large;
    font-weight: 600;
}
